<div id="whole-grouppage">

<h1 id="edit"> Mike, pick a movie for <%= @group.group_name %> to review.</h2>

<% if flash.any? %>
  <% flash.each do |message_type, message| %>
    <p id="flash-message"><%=message%></p>
  <% end %>
<% end %>

<%= form_for [@group, @movie] do |f| %>

  <%= f.text_field :title, placeholder: "Title" %><br><br>

  <%= f.text_field :body, placeholder: "Description" %><br><br>

  <%= f.text_field :poster_image, placeholder: "Image URL"  %><br><br>

  <%= f.fields_for @greview do |gr| %>

    <%= gr.text_field :due_date, placeholder: "Due Date" %><br><br>
  <% end %>

  <%= f.submit("Mike <3 movies") %>
<% end %>
</div>
