<h1>Mike groups!</h1>

<% if flash.any? %>
  <% flash.each do |message_type, message| %>
    <%=message%>
  <% end %>
<% end %>

<%= form_for @group do |f| %>
  <%= f.label :group_name, "Name the group" %>
  <%= f.text_field :group_name %>
  <%= f.submit "MIKES IT!" %>
<% end %>

<br><br>

<h4>Current groups</h4>
<% @groups.each do |group| %>
<ul>
  <p>
    <%= link_to group.group_name, new_group_user_path(group.id) %>
  </p>
</ul>
<% end %>
