<div id="whole-grouppage">
  <h1 id="welcome-mike"> Hey Mike.<br> Invite some people to <%= @group.group_name %>. </h1>

<% if flash.any? %>
  <% flash.each do |message_type, message| %>
    <p id="flash-message"><%=message%></p>
  <% end %>
<% end %>

<%= form_for [@group, @user] do |f| %>
  <%= f.text_field :email, placeholder: "Enter their email" %> <br>
  <%= f.submit("Invite!") %>
<% end %>
</div>
