<h1> Mike, invite some people to <%= @group.group_name %> </h2>

<%= form_for [@group, @user] do |f| %>
  <%= f.label(:email, "Email") %>
  <%= f.text_field(:email) %>
  <%= f.submit("Invite!") %>
<% end %>
