<!DOCTYPE html>
<html>
<head>
  <title>MovieApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= image_tag("mikelikes.png")%>
  </div>
<div id="nav"><a href = "/login">Login</a></div>
<div id="nav"><a href = "/groups/new">Mike a group!</a></div>
<%= yield %>

</body>
</html>
