<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>MovieApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div id="header">
      <a id="logo" href ="/"><%= image_tag("mikelikes.png")%></a>
    </div>

  <nav>
    <% if logged_in? %>
      <a href = "/groups/new">Mike a group!</a>
      <%= link_to current_user.email, user_path(current_user) %>
      <%= link_to 'logout', logout_path, method: :delete%>
    <% else %>
      <a href="/login">login</login></a>
    <% end %>
  </nav>


<%= yield %>

</body>
</html>
